<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>170065016294-imv5tbuc1tv6pdissenfrbccim2u46rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170065016294-imv5tbuc1tv6pdissenfrbccim2u46rm</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZdQrkAg4H0opUqQ_6kg5ShY3w_a-GGM</string>
	<key>GCM_SENDER_ID</key>
	<string>170065016294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avsoft.lavash</string>
	<key>PROJECT_ID</key>
	<string>lavash-1e6c1</string>
	<key>STORAGE_BUCKET</key>
	<string>lavash-1e6c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170065016294:ios:4e38165209d9528f</string>
	<key>DATABASE_URL</key>
	<string>https://lavash-1e6c1.firebaseio.com</string>
</dict>
</plist>